body {
  font-size: 16px;
  background-color: black;
  font-family: 'Josefin Sans', sans-serif;
  color: bisque;
  }

  .wrapperAll {
    text-align: center;
    color: bisque;
    background-color: black;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 5% auto 5%;
    grid-template-rows: auto auto auto;
    grid-template-areas:  "header header header" 
                          "leftSide middle rightSide" 
                          "footer footer footer";
    column-gap: 15px;
    margin: 0;
  }
    header {
      grid-area: header;
      justify-self: center;
      max-width: 700px;
      max-height: 250px;
    }
      .logo img {
        border: 5px solid rgb(20, 6, 20);
        width: 600px;
        height: 200px;        
        object-fit: cover;
      }

      .title {
        
      }
         
    .calcWrapper {
      display: flex;
      justify-self: center;
      justify-content: space-between;
      grid-area: middle;
      max-height: 335px;
      width: auto;
      margin-top: 40px;
      }

  
      .manaInputWrapper {
        display: flex;
        flex-direction: column;
        padding: 1%;
        width: 200px;        
        border: 1px solid bisque;
        border-radius: 25px;
        background-color: rgb(29, 29, 29);
      }   

        form label {
          padding-top: 16px;
          display:flex;
          justify-content: center;
        }

        .manaIconInput {
          max-width: 18px;
          height: auto;

        }
          
          input[type="number"] {
            width: 50px;
            color: bisque;
            background: rgb(58, 58, 58);
            padding: 2px;
            border-radius: 6px;
            text-align: center;
            border: none;
          }

          #submitButton {
            justify-self: flex-end;
          }

        
        .result {
          background-color: rgb(29, 29, 29);
          display: flex;
          flex-direction: column;
          padding: 1%;
          width: 200px;
          border: 1px solid bisque;
          border-radius: 25px;
          
        }
        .result table{
          border-collapse:separate; 
          border-spacing: 8px 10px ;
          table-layout: fixed;
          width: 200px; 
          }
          
          .result tr{
            border-spacing: 12.5px;
          }

          .result th{
            display: table-cell;
            text-align: justify;
            margin-right: 10px;
            background-color: rgb(58, 58, 58);
            border-radius: 5px;
          }

          .result td{
            align-items: center;
            margin-top: 12.5px;
            background-color: rgb(58, 58, 58);
            border-radius: 5px;
          }
          
          .manaIconResult{
            max-width: 18px;
            height: auto;
            margin-top: 2px;
          }

      .leftSidebar {
        grid-area: leftSide;
        }

      .rightSidebar {
        grid-area: rightSide;
        }

      .footer {
        grid-area: footer;
        color: bisque;
        padding-bottom: 1em;
        }

        .footer a {
          color: white;
        }

        .navBar {
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          align-content: space-between;
          margin: 0;
          padding: 0;
          flex-direction: row;
          }

          .navBar ul {
            list-style-type: none;
            display:flex;
            justify-content: space-between;
            border: 2px groove bisque;
            background-color: rgb(58, 58, 58, 0.5);
            border-radius: 25em;
            }

          .navBar a {
            color: white;
            display: flex;
            margin: 1em 10px 0px 10px;
            }

@media only screen and (max-width: 700px) {

  .calcWrapper {
    margin-top: 10%;
  }
}

@media only screen and (max-height: 900px) {
  
  .calcWrapper {
    margin-top: 15%
  }
}
